/*
green:  #66c2a5
orange: #fc8d62
purple: #8da0cb
*/

#map {
    width: 1000px;
    height: 600px;
}

.css-icon-blue{
	width: 10px;
	height: 10px;
	background: #66c2a5;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.css-icon-yellow{
	width: 10px;
	height: 10px;
	background: #fc8d62;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.css-icon-purple{
	width: 10px;
	height: 10px;
	background: #8da0cb;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.css-icon-blue:hover{
	border: 2px solid black;
}

.css-icon-yellow:hover{
	border: 2px solid black;
}

.css-icon-purple:hover{
	border: 2px solid black;
}

.dot{
	width: 20px;
	height: 20px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin-left: 5px;
	position: absolute;
}

.blue{
	background: #66c2a5;
}
.yellow{
	background: #fc8d62;
}
.purple{
	background: #8da0cb;
}

.legend p {
	padding-left: 30px;
}

#timeline {
	width: 600px;
}

#wordcloud {
	width: 600px;
}

.c3-circle._expanded_, .c3-circle._expanded_:hover, .wordcloud-text:hover{
	fill: #fc8d62 !important;
	cursor: pointer !important;
	r: 6;
	opacity: 1 !important;
}

.inactive {
	opacity: 0.5 !important;
}

.active {
	opacity: 1 !important;
	fill: #66c2a5 !important;
	r: 6;
}

.inactive:hover{
	fill: #fc8d62 !important;
	cursor: pointer !important;
	opacity: 1 !important;
}

.c3-line {
    stroke-width: 2px;
}
