html
	head
		title Twitter Dasboard
		link(href="style.css", rel="stylesheet")
	body(ng-app="HashtagVisualizer")
		h1 Twitter Dashboard

		div(ng-controller="MapController as Map")
			#map



	script(src="plugins.js")
	script(src="app.js")