html
	head
		title Twitter Dasboard
		link(href="style.css", rel="stylesheet")
	body(ng-app="HashtagVisualizer")
		h1 Twitter Dashboard

		#container
			#wordcloud-container(ng-controller="WordcloudController as Wordcloud")
				button(ng-click="Wordcloud.resetCountries()") Reset Country
				#wordcloud


			#timeline-container(ng-controller="TimelineController as Timeline")
				button(ng-click="Timeline.resetTime()") Reset Time
				#timeline

			#map-container(ng-controller="MapController as Map")
				#map

				.legend
					h3 Legend
					.dot.blue
					p #charliehebdo
					.dot.yellow
					p #jesuischarlie
					.dot.purple
					p both #hashtags



	script(src="plugins.js")
	script(src="app.js")